{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>{{ advertisement.title }}</h1>
<p>{{ advertisement.content }}</p>
{% if advertisement.image %}
<p><img class="img-article-left" src="{{advertisement.image.url}}"</p>
{% endif %}
<p></p>
<p> Автор объявления  :<h2> {{advertisement.author}}</h2></p>
<p></p>
<a href="{% url 'board:edit_advertisement' pk=advertisement.pk %}">
    <button>Edit Advertisement</button>
</a>
<a href="{% url 'board:delete_advertisement' pk=advertisement.pk %}">
    <button>Delete Advertisement</button>
</a>
{% endif %}


{% endblock %}
