{% extends 'base.html' %}

{% block content %}

<h1>{{ advertisement.title }}</h1>
<p>{{ advertisement.content }}</p>
{% if advertisement.image %}
<p><img class="img-article-left" src="{{advertisement.image.url}}"</p>
{% endif %}
<p></p>
<p> Автор объявления :<h2> {{advertisement.author}}</h2></p>
<p></p>
<p>Лайки: {{ advertisement.likes }} | Дизлайки: {{ advertisement.dislikes }}</p>

{% if user.is_authenticated %}
<form action="{% url 'board:like_ad' advertisement.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">Like</button>
</form>

<form action="{% url 'board:dislike_ad' advertisement.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">Dislike</button>
</form>

<a href="{% url 'board:advertisement_list' %}">  <button>Вернуться обратно к представлениям</button></a>
<p> </p>
<a href="{% url 'board:edit_advertisement' pk=advertisement.pk %}">
    <button>Edit Advertisement</button>
</a>
<a href="{% url 'board:delete_advertisement' pk=advertisement.pk %}">
    <button>Delete Advertisement</button>
</a>
{% endif %}


{% endblock %}
