{% extends 'base.html' %}

{% block content %}
<h1>Advertisements</h1>
{% if user.is_authenticated %}
<a href="{% url 'board:add_advertisement' %}">
    <button>Add Advertisement</button>
</a>

{% endif %}
<ul>
    {% for advertisement in page_obj %}
        <li>
            <a href="{% url 'board:advertisement_detail' advertisement.pk %}">{{ advertisement.title }}</a>
        </li>
    {% empty %}
        <li>Нет объявлений.</li>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
