{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} My site {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href='{% static 'style.css' %}'>

</head>
<body>
   <header>
       {% block header %}
       <h1> Welcome to My Site</h1>
       {% endblock %}
   </header>
    <nav>
        {% block navigation %}
        <ul>
            <li> <a href="/"> Home</a> </li>
            <li> <a href="/about"> About</a> </li>
            <li> <a href="/contact"> Contact</a> </li>
        </ul>
        {% endblock %}
    </nav>
<main>
    {% block content %}
        <p> тут будут посты</p>
    {% endblock %}
</main>
    <footer>
        {% block footer %}
        <p> 2023 My Site</p>
        {% endblock %}
    </footer>
</body>
</html>